__pycache__
.ipynb_checkpoints
idea
main

# Apple stuff
.DS_Store

# Resume examples
Alexander_Efremov_Resume_2015.doc
cv - AndreySmirdin.pdf
My_archive
photo_for_resume.jpg
Vsevolod
Мурат_Апишев.pdf
