# python stuff
__pycache__
.ipynb_checkpoints
idea
main
ipynb_checkpoints

# Apple stuff
.DS_Store

# Resume examples
# 2020_MFP_Resumes.pdf
other_peoples_resumes
My_archive
My_archive.zip
photo_for_resume.jpg
